body{
    background-color: rgb(252, 193, 193);
}
legend{
    font-size: 35px;
    white-space: normal;
    color: black;
    
}
#skillsbox{
     display: block;
     transition: all 4s ease-in;
}
#skillsbox.hidden{
    display: none;
}
p{
    font-size: larger;
}
button{
    background-color: rgb(141, 196, 196);
}
button:active{
    background-color: rgb(21, 68, 68);
}
fieldset{
    border:2px solid black;
}